<div class="main-content">
    <div *ngIf="getTitle() == 'PU' || getTitle() == 'PR'" class="container-fluid">
          <div class="row">
              <div class="card-header card-header-danger" style="width: 100%; background-color: #00bcd4;">
                  <h4 class="card-title" style="display: inline">CATEGORIA RECURSO l
                      <h4 style="float:right"><i class="material-icons">looks_4</i>
                      </h4>
                  </h4>
              </div>
          </div>
          <div class="row">  
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart">
                          <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                        </div> <!-- id="dailySalesChart" -->
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">RECURSO 1</h4>                      
                    </div>
                    <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                      </p>                                            
                    </div>
                    <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart">
                        <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                      </div> <!-- id="dailySalesChart" -->
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RECURSO 2</h4>                      
                  </div>
                  <div class="card-footer">
                    <p style="width: 100%; height: 100%;">
                        Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                    </p>
                  </div>
                  <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart">
                        <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                      </div> <!-- id="dailySalesChart" -->
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RECURSO 3</h4>                      
                  </div>
                  <div class="card-footer">
                    <p style="width: 100%; height: 100%;">
                        Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                    </p>
                  </div>
                  <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart">
                        <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                      </div> <!-- id="dailySalesChart" -->
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RECURSO 4</h4>                      
                  </div>
                  <div class="card-footer">
                    <p style="width: 100%; height: 100%;">
                        Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                    </p>
                  </div>
                  <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="card-header card-header-danger" style="width: 100%; background-color: #00bcd4;">
              <h4 class="card-title">CATEGORIA RECURSO ll</h4>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart">
                        <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                      </div> <!-- id="dailySalesChart" -->
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RECURSO 1</h4>                      
                  </div>
                  <div class="card-footer">
                    <p style="width: 100%; height: 100%;">
                        Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                    </p>
                  </div>
                  <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart">
                        <img style="width: 100%; height: 100%;" src="../../assets/resources/imgNinos.png">
                      </div> <!-- id="dailySalesChart" -->
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RECURSO 2</h4>                      
                  </div>
                  <div class="card-footer">
                    <p style="width: 100%; height: 100%;">
                        Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...Descripción...
                    </p>
                  </div>
                  <div class="card-footer">
                      <p style="width: 100%; height: 100%;">
                          <button class="btn btn-info btn-sm">Editar</button>
                          <button class="btn btn-success btn-sm" style="margin-left: 21px;">Asignar</button>
                          <button class="btn btn-warning btn-sm" style="margin-left: 21px;">Duplicar</button>
                          <button class="btn btn-danger btn-sm" style="margin-left: 21px;">Eliminar</button>
                      </p>                                              
                    </div>
              </div>
          </div>
      </div>
    </div>
    <div *ngIf="getTitle() == 'AD'" class="container-fluid">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Crear Recurso</h4>
            </div>
            <div class="card-body">
                <mat-stepper orientation="horizontal" [linear]="true" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                          <ng-template matStepLabel>Crear desde</ng-template>
                          <div class="container parent">
                            <div class="row" style="margin-top: 25px;">
                                <div class='col text-center'>
                                <input type="radio" formControlName="typeR" [(ngModel)]="typeR" id="opt1" class="d-none imgbgchk" value="dg">
                                  <label for="opt1">
                                    <div class="opt">
                                        <div>
                                            <i class="material-icons" style="font-size: 50px; vertical-align: middle;">insert_drive_file</i>
                                        </div>
                                        <div>
                                            <h3>Digital template</h3>
                                        </div>
                                    </div>
                                    <div class="tick_container">
                                      <div class="tick"><i class="fa fa-check"></i></div>
                                    </div>
                                    </label>
                                </div>
                                <div class='col text-center'>
                                <input type="radio" formControlName="typeR" [(ngModel)]="typeR" id="opt2" class="d-none imgbgchk" value="url">
                                  <label for="opt2">
                                    <div class="opt">
                                        <div>
                                            <i class="material-icons" style="font-size: 50px;">link</i></div>
                                        <div>
                                            <h3>URL</h3>
                                        </div>
                                    </div>
                                    <div class="tick_container">
                                      <div class="tick"><i class="fa fa-check"></i></div>
                                    </div>
                                  </label>
                                </div>
                                <div class='col text-center'>
                                <input type="radio" formControlName="typeR" [(ngModel)]="typeR" id="opt3" class="d-none imgbgchk" value="dt">
                                  <label for="opt3">
                                    <div class="opt">
                                        <div>
                                            <i class="material-icons" style="font-size: 50px;">wallpaper</i></div>
                                        <div>
                                            <h3>Default Template</h3>
                                        </div>
                                    </div>
                                    <div class="tick_container">
                                      <div class="tick"><i class="fa fa-check"></i></div>
                                    </div>
                                  </label>
                                </div>
                                <div class='col text-center'>
                                <input type="radio" formControlName="typeR" [(ngModel)]="typeR" id="opt4" class="d-none imgbgchk" value="sa">
                                    <label for="opt4">
                                        <div class="opt">
                                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                                                <i class="material-icons" style="font-size: 50px;">group</i></div>
                                            <div class="px-3">
                                                <h3 class="fw-bold mb-0">Supportive app</h3>
                                            </div>
                                        </div>
                                      <div class="tick_container">
                                        <div class="tick"><i class="fa fa-check"></i></div>
                                      </div>
                                    </label>
                                </div>
                              </div>
                            </div>
                          <div style="margin-top: 50px;">
                            <button mat-raised-button color="primary" mat-button matStepperNext>Siguiente</button>
                          </div>
                        </form>
                    </mat-step>
                     <mat-step [stepControl]="thirdFormGroup">
                      <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>Información</ng-template>
                        <mat-form-field appearance="fill">
                          <mat-label>Título del Recurso</mat-label>
                          <input matInput formControlName="titleR" required>
                        </mat-form-field>
                        <div style="margin-bottom: 15px;">
                        <button style="background-color: rgb(0 0 0 / 5%);" mat-raised-button (click)="AudioInput.click()">Cargar audio</button>
                        <input hidden (change)="onAudioSelected($event)" #AudioInput type="file">
                        <span class="file-name">{{selectedAudio?.name}}</span>
                        </div>
                        <mat-form-field appearance="fill">                        
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="descriptionR" required></textarea>
                        </mat-form-field> 
                        <div style="margin-bottom: 15px;">
                        <button style="background-color: rgb(0 0 0 / 5%);" mat-raised-button (click)="defineTagsR(tagsR)">Definir categoría</button>                    
                        </div>
                        <div *ngIf="displayTagsR.length > 0" style="margin-bottom: 15px;">
                            <label>Categoría: </label><button mat-raised-button disabled style="margin-left: 7px;" *ngFor="let tag of displayTagsR">{{tag}}</button> 
                        </div>                  
                        <mat-form-field appearance="fill">
                            <mat-label>Visibilidad Recurso</mat-label>
                            <mat-select formControlName="visibilityR" [(ngModel)]="visibilityR" required>
                              <mat-option value="Público">Público</mat-option>
                              <mat-option value="Privado">Privado</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="margin-bottom: 15px;">
                        <button style="background-color: rgb(0 0 0 / 5%);" mat-raised-button (click)="ImageInput.click()">Cargar imagen</button>
                        <input hidden (change)="onImageSelected($event)" #ImageInput type="file">
                        <span class="file-name">{{selectedImage?.name}}</span>                    
                        </div>
                        <div>
                            <button mat-raised-button matStepperPrevious>Atrás</button>
                            <button mat-raised-button color="primary" style="margin-left: 7px;" matStepperNext>Siguiente</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                          <ng-template matStepLabel>Diseño</ng-template>                      
                          <div style="float: right;">
                            <button mat-raised-button style="color: white; background-color: #3F51B5; width: fit-content; height: fit-content; margin-bottom: 10px;"matTooltip="Vista Previa" [matTooltipPosition]="'left'"><i class="material-icons">remove_red_eye</i></button>
                          </div>
                          <mat-form-field appearance="fill">
                            <mat-label>Instrucción</mat-label>
                            <textarea matInput formControlName="instruction" placeholder="Detalle la instrucción a realizar con el recurso."></textarea>
                          </mat-form-field>
                          <div #dg *ngIf="typeR == 'dg'">
                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                       required>
                              </mat-form-field>
                          </div>
                          <div #dg *ngIf="typeR == 'url'">
                            <mat-form-field appearance="fill">
                                <mat-label>URL</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="https://www.google.es/"
                                       required>
                              </mat-form-field>
                          </div>
                          <div #dg *ngIf="typeR == 'dt'">
                                <div style="width: 100%; height: 100%;" *ngIf="!dtSelected">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card" (click)="dtSelectedTemplate('Cuestionario')">
                                                <div class="card-header card-header-success">
                                                    <h4 class="card-title">Cuestionario</h4>
                                                </div>
                                                <div class="card-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" (click)="dtSelectedTemplate('Sopa de letras')">
                                                <div class="card-header card-header-success">
                                                    <h4 class="card-title">Sopa de letras</h4>
                                                </div>
                                                <div class="card-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" (click)="dtSelectedTemplate('Actividad 3')">
                                                <div class="card-header card-header-success">
                                                    <h4 class="card-title">Actividad 3</h4>
                                                </div>
                                                <div class="card-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card" (click)="dtSelectedTemplate('Actividad 4')">
                                                <div class="card-header card-header-success">
                                                    <h4 class="card-title">Actividad 4</h4>
                                                </div>
                                                <div class="card-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="dtSelected && dtNameSelected == 'Sopa de letras'">
                                    <div class="from-group">
                                        <mat-checkbox style="margin: 0 12px; color:black;" (click)="changePista()">Habilitar Pistas</mat-checkbox>
                                    </div>
                                    <div class="form-group">
                                        <button mat-raised-button color="primary" (click)="addDataSopaLetras()">Añadir palabra</button>
                                    </div>
                                    <div formArrayName="sopaLetras" *ngFor="let data of sopaLetras.controls; let i = index">
                                        <div [formGroupName]="i">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Palabra</mat-label>
                                                        <input matInput [attr.id]="'palabra'+i" formControlName="palabra" placeholder="Palabra presente en la sopa de letras">
                                                    </mat-form-field>
                                                </div>    
                                                <div class="col-md-5" *ngIf="pistasSL">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Pista</mat-label>
                                                        <input matInput [attr.id]="'pista'+i" formControlName="pista" placeholder="Pista para encontrar la palabra">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                    <button mat-raised-button color="warn" (click)="deleteDataSopaLetras(i)">Remover</button>
                                                </div>                                            
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                                <div *ngIf="dtSelected && dtNameSelected == 'Cuestionario'">
                                    <div class="from-group">
                                        <mat-checkbox style="margin: 0 12px; color:black;" (click)="changePista()">Habilitar Pistas</mat-checkbox>
                                    </div>
                                    <div class="form-group">
                                        <button mat-raised-button color="primary" (click)="addDataSopaLetras()">Añadir palabra</button>
                                    </div>
                                    <div formArrayName="sopaLetras" *ngFor="let data of sopaLetras.controls; let i = index">
                                        <div [formGroupName]="i">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Palabra</mat-label>
                                                        <input matInput [attr.id]="'palabra'+i" formControlName="palabra" placeholder="Palabra presente en la sopa de letras">
                                                    </mat-form-field>
                                                </div>    
                                                <div class="col-md-5" *ngIf="pistasSL">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Pista</mat-label>
                                                        <input matInput [attr.id]="'pista'+i" formControlName="pista" placeholder="Pista para encontrar la palabra">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                    <button mat-raised-button colot="warn" (click)="deleteDataSopaLetras(i)">Remover</button>
                                                </div>                                            
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                          </div>
                          <div #dg *ngIf="typeR == 'sa'">
                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                       required>
                              </mat-form-field>
                          </div>
                          <div>
                            <button mat-raised-button matStepperPrevious>Atrás</button>
                            <button mat-raised-button color="primary" style="margin-left: 7px;" matStepperNext>Siguiente</button>
                          </div>
                        </form>
                      </mat-step>
                                   
                    <mat-step>
                      <ng-template matStepLabel>Crear</ng-template>
                      <p>¿Desea crear el recurso?</p>
                      <div>
                        <button mat-raised-button matStepperPrevious>Atrás</button>
                        <button mat-raised-button color="primary" style="margin-left: 7px;" matStepperNext>Crear</button>
                        <button style="float:right;" mat-raised-button color="warn" (click)="stepper.reset()">Resetear</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
            </div>
        </div>
    </div>
</div>
<ng-template #tagsR>
    <h2 matDialogTitle>Categorías Recursos</h2>
  <mat-dialog-content>
    <p>Escoge las categorías que corresponan al recurso por crear:</p>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let tag of tagsExample">
            <mat-checkbox [(ngModel)]="tag.completed"
                          color="primary"
                          (ngModelChange)="addTagsR(0)">
              {{tag.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose (click)="addTagsR(1)" color="primary">Añadir</button>
    <button mat-raised-button matDialogClose (click)="addTagsR(2)" color="warn">Cerrar</button>
  </mat-dialog-actions>
</ng-template>
